body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  /* changed background to darker one for dark mode */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 02)),
    url("../../images/bathroom-background-darkmode.jpg");
  background-size: cover;
  background-position: center;
}

/* Dark mode Button */
.btn-toggle {
  left: 400px;
  bottom: 300px;
}

/* dark mode elements */
.form-text {
  color:white;
}

.container {
  width: 400px;
  max-width: 400px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  background: #3c3c3c;
  color:white; 
  position: fixed;
}

.form-input-group {
  margin-bottom: 1rem;
}

.input-field {
  width: 100%;  
}

.form-text {
  text-align: center;
  padding-bottom: 35px;
}

.form-button {
  width: 100%;
}

.form-line {
  border-bottom: 1px solid #8ebebc;
}